/.github/                       @HyunJuneKang 
/infra/                         @HyunJuneKang 
/podman/                        @HyunJuneKang 
/nginx/                         @HyunJuneKang 
/Jenkinsfile.fgc                @HyunJuneKang 
/.trivyignore                   @HyunJuneKang 
/Containerfile.*                @HyunJuneKang 
/src/main/resources/db/migration/ @HyunJuneKang 
/src/main/resources/db/demo/     @HyunJuneKang 
/frontend/                      @ParkMinjun0721 @HyunJuneKang

/.github/CODEOWNERS             @yslee4601 @HyunJuneKang